{% extends 'base.html' %} {% load static %} 
{% block title %} NoticeDetail
{%endblock title %}
{% block content %}
<main>
  {{current_url}}
  {% include "partial/header.html" %}
   <section class="detail_main_content">
    <div id="detail_titleparent" class="detail_divs">
      <div>제목</div>
      <div class="detail_title">{{notice.title}}</div>
      <div>작성일</div>
      <div>{{notice.updated|date:'Y.m.d'}}</div>
    </div>
    <div class="detail_divs">
      <div>종류</div>
      <div>{{notice.type}}</div>
      <div>조회수</div>
      <div> {{notice.post_hit}}</div>
    </div>
    <div class="detail_divs">
      <div>작성자</div>
      <div id="detail_writer">{{notice.writer}}</div>
      <div>소속</div>
      <div>{{notice.department}}</div>
    </div>
    <!-- 게시글 내용 -->
    <div id="detail_contentparent">
      <div class="detail_content">
        {{notice.content}}
      </div>
    </div>
  </section>
  <section>
   <div id = "only_showed_notice_master">
    <!-- 삭제 저장 수정 등등의 버튼들 -->
      <button id="fixing_button" type="button">수정</button>
      <div id="notice_detail_fixed_button_interface">
        <form id="detail_views" action="{% url 'notices:save' notice.pk %}?next={{request.get_full_path}}" method="POST">
          {% csrf_token %}
          <section class="detail_main_content">
            <div id="detail_titleparent" class="detail_divs">
              <div>제목</div>
              <div class="detail_title">
                <input name="detail_title_data" value="{{notice.title}}" />
              </div>
              <div>작성일</div>
              <div>{{notice.updated|date:'Y.m.d'}}</div>
            </div>
            <div class="detail_divs">
              <div>종류</div>
              <div>{{notice.type}}</div>
              <div>조회수</div>
              <div> {{notice.post_hit}}</div>
            </div>
            <div class="detail_divs">
              <div>작성자</div>
              <div id="detail_writer">{{notice.writer}}</div>
              <div>소속</div>
              <div>{{notice.department}}</div>
            </div>
            <!-- 게시글 내용 -->
            <div id="detail_contentparent">
              <div class="detail_content">
              <!--
              <input type="text" id="detail_area_data" value="{{notice.content}}"
              size=20/>
              -->
                <textarea name="detail_area_data" rows="30" cols="90">{{notice.content}}</textarea>
              </div>
            </div>
          </section>
          <button form="detail_views" type="submit">저장</button>
        </form>
        <button id="cancle_button" type="button">수정취소</button>
        <form action="{% url 'notices:delete' notice.pk %}" method="POST">
          {% csrf_token %}
          <button type="submit" >삭제</button>
        </form>
      </div>
    </div>
    <button onclick="location.href='{{request.session.current_url}}' ">메뉴로 가기</button>
    <!--테스트용 태그. 접속한 사용자가 아래 h2태그 안에 들어갈때 동작하게 해둠.-->
    <h2 class="hidden" id="target_data">{{user.last_name}}{{user.first_name}}</h2>
  </section>
</main>
<script src="{% static 'JS/noticeDetail.js' %}"></script>
{% endblock content %}