{% extends 'base.html' %} {% load static %} {% block title %} NoticeDetail
{%endblock title %}
{% block content %}
<main>
  {% include "partial/header.html" %}
    
  <section>
      <table id="show_notice_data">
          <tr>
            <td colspan="3">제목</td>
            <td colspan="5">{{notice.title}}</td>

            <td>작성일</td>
            <td>{{notice.updated|date:'Y.m.d'}}</td>
          </tr>
          <tr>
            <td colspan="3">종류</td>
            <td colspan="5">{{notice.type}}</td>

            <td>조회수</td>
            <td>{{notice.post_hit}}</td>
          </tr>
          <tr>
            <td colspan="3">작성자</td>
            <td colspan="5">{{notice.writer}}</td>

            <td>소속</td>
            <td>{{notice.department}}</td>
          </tr>
          <!-- 게시글 내용 -->
          <tr>
            <td colspan="16" rowspan="5" id="notice_data_main_content">
            {{notice.content}}
            </td>
          </tr>
      </table>
  </section>
  <section>
   <div id = "only_showed_notice_master">
    <!-- 삭제 저장 수정 등등의 버튼들 -->
      <button id="fixing_button" type="button">수정</button>
      <div id="notice_detail_fixed_button_interface">
        <button id="cancle_button" type="button">수정취소</button>
        <form action="#" method="get">
          <button type="submit">삭제</button>
        </form>
        <form action="#" method="get">
          <button type="submit">저장</button>
        </form>
      </div>
    </div>
    <button onClick="window.history.back();return false;">메뉴로 가기</button>
    <!--테스트용 태그. 접속한 사용자가 아래 h2태그 안에 들어갈때 동작하게 해둠.-->
    <h2 id="target_data">{{user.last_name}}{{user.first_name}}</h2>
  </section>
</main>
{% endblock content %}