body {
  display: flex;
}
header {
  display: flex;
}
#personal-data {
  display: flex;
}
#time-data {
  display: flex;
}
.content_basket_list,
.content_basket_schedule {
  display: none;
}
.content_enrol_cancleList {
  display: none;
}
caption {
  caption-side: bottom;
}
.hidden {
  display: none;
}
.modal {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal h2 {
  margin: 0;
}

.modal button {
  display: flex;
  width: 100px;
  margin-left: calc(100% - 100px - 10px);
}

.modal .modal_content {
  width: 300px;
  padding: 20px 10px;
  background: #fff;
  border: 2px solid #666;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.modal .modal_layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
#show_notice_data{
  width: 800px;
  height: 600px;
  text-align: center;
}
#show_notice_data tr td{
  border:rgba(0, 0, 0, 0.5) 1px solid;
}
.detail_divs{
  display: flex;
  margin: 0px 10px;
  border: 5px;
  padding: 5px;

}
.detail_divs div{
  margin: 5px;
  border : 5px;
  padding: 10px;
  outline: #666 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail_divs div:nth-child(2), .detail_divs div:nth-child(4){
  width: 250px;
  height: 20px;
}
.detail_divs div:nth-child(1), .detail_divs div:nth-child(3){
  width: 50px;
  height: 20px;
}
#detail_contentparent{
  display: flex;
  margin: 0px 10px;
  border: 5px;
  padding: 5px;
}
.detail_content{
  margin: 5px;
  border : 5px;
  padding: 10px;
  outline: #666 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 690px;
  height: 500px;
}
#detail_area{
  width:100%;
  height: 100%;
}
#schedule_left_text{
  display: flex;
  flex-direction: column;
}
#time_table > thead > tr>th{
  width: 250px;
  height: 30px;
}
#time_table > tbody > tr>td{
  width: 80px;
  height: 20px;
}