{% extends 'base.html' %}
{% load static %}


{% block title %}Lecture schedules{% endblock title %} 
{% block content %}
{% include "partial/header.html" %}
   <main>
      <!--header 부분 include 해야함.(최상단 학번, 학년, 학과 정보 )-->
      <form name="selected" action="{% url 'classes:lookup' %}" method="GET">
        <select id="subject" name="subject">
          <option value="">--선택--</option>
          <option value="business">경영경제대학</option>
          <option value="engineering">공과대학</option>
          <option value="software">소프트웨어대학</option>
        </select>
        <select id="college" name="college">
          <!--subject 값에 따라 뭐가 오는지 제어해야함.-->
          <option value="">--선택--</option>
        </select>
        <input id="schedule_button" type="submit" value="조회" />
      </form>

      <div>
        <table>
          <thead>
            <tr>
              <td>    </td>
              <td>대학</td>
              <td>개설학과</td>
              <td>학년</td>
              <td>이수구분</td>
              <td>과목번호</td>
              <td>과목명</td>
              <td>학점</td>
              <td>담당교수</td>
              <td>강의시간</td>
              <td>수강인원</td>
            </tr>
          </thead>
          <tbody id = "target_tbody">
          </table>
      </div>
    </main>
    {% csrf_token %}
    <div id="class_datas" class="hidden">
    {% if class_data %}
      {{class_data}}
    {% endif %}
    </div>
    <script
  src="https://kit.fontawesome.com/87360ab54c.js"
  crossorigin="anonymous"
></script>
  <script src="{% static 'JS/viewSchedule.js' %}"></script>
  <script src="{% static 'JS/viewTable.js' %}"></script>
{% endblock content %}