body {
  display: flex;
}
header {
  display: flex;
}
#personal-data {
  display: flex;
}
#time-data {
  display: flex;
}
.content_basket_list,
.content_basket_schedule {
  display: none;
}
.content_enrol_cancleList {
  display: none;
}
