{% extends 'base.html' %}
{% load static %}

{% block title %}Enrollment{% endblock title %}

{% block content %}
<main>
  {% include "partial/header.html" %}
  <div class="content">
    <div class="content_index">
      <button class="content_index_info">수강신청 안내</button>
      <button class="content_index_info_cancle_list">
        수강신청내역(취소)
      </button>
    </div>
    <div class="content_enrol_info">
      <h2>수강신청 안내 페이지 입니다.</h2>
      <p>
        <span> 수강신청은 알아서 잘 해야 합니다. </span>
      </p>
    </div>
    <div class="content_enrol_cancleList">
      <!-- 이곳에 각 탭에 해당하는 기능이 구현되어야 함-->
      <!-- 수강신청 테이블을 버튼 이벤트로 인해 로드할 수 있어야 함-->
      <div class="button_bottom_content">
        <div class="button_bottom_left_content">
          <div class="button_bottom_left_icon">
            <!-- 아이콘 한개 -->
          </div>

          <p class="button_bottom_left_text">
            <span class="button_bottom_left_text_title">
              수강신청 내역
            </span>
            <span>[ 신청과목수 : </span>
            <span class="button_bottom_left_text_classNum">
            </span>
            <span> 신청학점 : </span>
            <span class="button_bottom_left_text_credit">
              {{credit}}
            </span>
            <span> ] </span>
          </p>
        </div>
      </div>
      <table>
        <caption>
          <!--테이블 하단에 표시할 내용-->
          <p>
            <span>
            </span>
          </p>
          <span>
          </span>
        </caption>
        <thead>
          <tr>
            <th> </th>
            <th>학년</th>
            <th>이수구분</th>
            <th>과목번호</th>
            <th>과목명</th>
            <th>학점</th>
            <th>담당교수</th>
            <th>강의시간</th>
            <th>수강인원</th>
          </tr>
        </thead>
        <tbody id="target_enrol_table">
        </tbody>
      </table>
    </div>
  </div>
</main>
<div id="regi_data" class="hidden">
  {{regi_datas}}
</div>
{% csrf_token %}
<script src="https://kit.fontawesome.com/87360ab54c.js" crossorigin="anonymous"></script>
<script src="{% static 'JS/enril.js' %}"></script>
<script src="{% static 'JS/viewEnrol.js' %}"></script>
{% endblock content %}