{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Login</title>
  </head>

  <body>
    <header></header>
    <main>
      {% if user.is_authenticated %}
      <meta http-equiv='refresh' content='0; url={% url "regist:enrollment" %}'>
      {% else %}
      <form name="user-data" id="login-form" action="{% url 'core:index' %}" method="POST">
        {% csrf_token %}
        <div id="login-box">
          {{form.as_p}}
        </div>
        <button type="submit" form="login-form">로그인</button>
      </form>
      {% endif %}
      <form id="sign-form" action='{% url "users:signup" %}' method="POST">
        {% csrf_token %}
        <button type="submit" form="sign-form">회원가입</button>
      </form>
    </main>
    <footer></footer>
  </body>

</html>