{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if user.is_authenticated %}
        <meta http-equiv='refresh' content='0; url={% url "users:enrollment" %}'>
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Login</title>
  </head>
  <body>
    <header></header>
    <main>
      <!-- form 의 action 속성에 수강신청 홈페이지로 이동시켜야함-->
      <form
        name="user-data"
        id="login-form"
        action="{% url 'core:index' %}"
        method="POST"
      >
      {% csrf_token %}
        <div id="login-box">
          {{form.as_p}}
        </div>
        <button>로그인</button>
      </form>
    </main>
    <footer></footer>
  </body>
</html>
