<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/registration.css" />
    <style>
      caption {
        caption-side: bottom;
      }
    </style>
    <title>Class-Registraction</title>
  </head>
  <body>
    <nav>
      <!-- 각 탭의 항목을 누르면 메인 안의 div의 내용이 바뀜.-->
      <ul>
        <div><a href="#">수강신청</a></div>
        <div><a href="#">장바구니</a></div>
        <div><a href="#">시간표 조회</a></div>
        <div><a href="#">개인 시간표</a></div>
        <div><a href="#">게시판</a></div>
      </ul>
    </nav>
    <main>
      <header>
        <!-- 클릭 이벤트로 인해 nav를 감출 수 있어야 함-->
        <!-- 사용자 정보를 알려주어야 함.-->
        <div>
          <!-- 메뉴 감추기 버튼 -->
          <i class="fas fa-bars"></i>
        </div>
        <div>
          <!-- 학교 이미지 -->
          <i class="fas fa-graduation-cap"></i>
        </div>
        <div>
          <!-- 학기정보 -->
          <span> 2021학년도 2학기 </span>
        </div>
        <div id="personal-data">
          <span>
            <!-- 이름 -->
            김동민
          </span>
          <span>
            <!-- 학번 -->
            20142679
          </span>
          <span>
            학년(가진급학년)
            <!-- 학년 -->
          </span>
          <span> 4(4) </span>
          <span>
            <!-- 학점 -->
            제한학점
          </span>
          <span>23</span>
          <span> (기본:22/이월:1) </span>
          <div>
            <!-- 상세정보 -->
            <i class="fas fa-sort-down"></i>
          </div>
        </div>
        <div id="time-data">
          <div>
            <!--시계 이미지 -->
            <i class="far fa-clock"></i>
          </div>
          <span>
            <!-- 시간 정보 -->
            11:50
          </span>
        </div>
        <div>
          <button>연장하기</button>
        </div>
        <div>
          <button>로그아웃</button>
        </div>
      </header>
      <div id="content">
        <div>
          <button>수강신청 안내</button>
          <button>수강신청내역(취소)</button>
        </div>
        <!-- 이곳에 각 탭에 해당하는 기능이 구현되어야 함-->
        <div>
          <!--페이지에 따라 버튼이 있을수도 있음.-->
          <div>
            <!-- 아이콘 한개 -->
          </div>
          <span> 수강신청 내역 </span>
          <div>
            <span>
              [
              <span> 신청과목수 : </span>
              <span>
                <!--db 데이터 로드해야함-->
              </span>
              <span> 신청학점 : </span>
              <span>
                <!--db 데이터 로드해야함-->
              </span>
              ]
            </span>
          </div>
        </div>
        <div id="target">
          <!-- 수강신청 테이블을 버튼 이벤트로 인해 로드할 수 있어야 함-->
          <table>
            <caption>
              <!--테이블 하단에 표시할 내용-->
              <div>
                <div>
                  <span>
                    ※ 삭제전 성적우수장학금수혜를 위한 기본학점을 다시한번
                    확인하시기 바랍니다.
                  </span>
                </div>
                <div>
                  <span>[성적우수장학금 수혜를 위한 기본 수강신청 학점]</span>
                </div>
                <div>
                  <span>
                    16학점이상 수강신청(단 졸업직전학기의 경우는 12학점 이상
                    수강신청.입학성정우수 장학의 경우는 입학년도별/학과별로 다를
                    수 있으므로 별도장학공지 참조.)
                  </span>
                </div>
              </div>
              <div>
                ※ 수강신청 마감을 하면 현재 신청된 과목의 삭제가 불가능합니다.
              </div>
            </caption>
            <thead>
              <tr>
                <th>캠퍼스</th>
                <th>과목번호-분반</th>
                <th>과목명</th>
                <th>폐강</th>
                <th>이수구분</th>
                <th>교양영역</th>
                <th>재수강</th>
                <th>학점</th>
                <th>담당교수</th>
                <th>강의시간</th>
                <th>유연학기</th>
                <th>기이수</th>
              </tr>
            </thead>
            <tbody>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
              <td>10</td>
              <td>11</td>
              <td>12</td>
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <script
      src="https://kit.fontawesome.com/87360ab54c.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
