<header>
    <!-- 클릭 이벤트로 인해 nav를 감출 수 있어야 함-->
    <!-- 사용자 정보를 알려주어야 함.-->
    <div>
        <!-- 메뉴 감추기 버튼 -->
        <i class="fas fa-bars"></i>
    </div>
    <div>
        <!-- 학교 이미지 -->
        <i class="fas fa-graduation-cap"></i>
    </div>
    <div>
        <!-- 학기정보 -->
        <span> 2021학년도 2학기</span>
    </div>
    <div class="personal-data">
        <span>
        {{user.last_name}}{{user.first_name}}
        </span>
        <span>
        {{user.number}}
        </span>
        <span>
        학년 : {{user.grade}}
        </span>
        <span>
        제한학점 : 23
        </span>
        <span> (기본:22/이월:1) </span>
        <div>
        <!-- 상세정보 -->
        <i class="fas fa-sort-down"></i>
        </div>
    </div>
    <div class="time-data">
        <div>
        <!--시계 이미지 -->
        <i class="far fa-clock"></i>
        </div>
        <span>
        <!-- 시간 정보 -->
        <div id = "my_Clock">
        0분0초
        </div>
        </span>
    </div>
    <div>
        <button>연장하기</button>
    </div>
    <form action="{% url 'users:logout' %}">
    <div>
        <button>로그아웃</button>
    </div>
    </form>
    
    <script>
        let time = 1200;
        let min = "";
        let sec = "";
        let temp = setInterval(function () {
        min = parseInt(time / 60);
        sec = time % 60;

        document.getElementById("my_Clock").innerHTML = min + "분" + sec + "초";
        time--;

        if (time < 0) {
          clearInterval(temp);
            document.getElementById("my_Clock").innerHTML = "시간초과";
            }
        }, 1000);
    </script>
</header>